form(method="post" action="/forgot")
    table
        tr
            td email
            td
                input(type="email" name="email")
        tr
            td
            td 
                input(type="submit"  value="Forgot")
