form(method="post" action="/login")
    table
        tr
            td email
            td
                input(type="email" name="email")
        tr
            td password
            td
                input(type="text" name="password")        
        tr
            td
            td
                input(type="submit" value="login")        