doctype html
html(lang='en')
    head
        title=title
        include includes/styles
        script
            include includes/script

    body
        .page.wrapper
            include includes/header
            block content
